/*Нормалізація*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

ul,
ol {
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 700;
    text-align: center;
}

li {
    list-style-type: none;
}

div {
    padding-left: 0px;
    margin: 0px;
}

img {
    display: block;
    background-size: cover;
}


.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px 0px 15px;
    align-items: center;
}


/*Навігація.  Лого-посилання*/

.addresstabl { /*3*/
    display: flex;
    margin: 24px 0px 24px 0px;
    gap: 40px;
}

.navtabl { /*4*/
    display: flex;
    margin-right: auto;
    gap: 40px;
}

.logoheader { /*5*/
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3%;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    margin-right: 76px;

    display: flex;
}

.spon { /*6*/
    color: #2e2f42;
}

.nav { /*7*/
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Підкреслення в меню навігації*/


.navone { /*8*/
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav:hover { /*9*/
    color: #404bbf;
}

.navone::after { /*10*/
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.nav:focus { /*11*/
    color: #404bbf;
}

/*Імейл та телефон*/

.email { /*12*/
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover { /*13*/
    color: #404bbf;
}

.email:focus { /*14*/
    color: #404bbf;
}

.address { /*15*/
    font-size: 16px;
    font-style: normal;
}

.headerblock { /*16*/
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.headerblock .container { /*1*/
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    align-items: center;
}

.headerblockcontainernav { /*2*/
    display: flex;
    align-items: center;
    margin-right: auto;
}

.three_line { /*17*/
    visibility: hidden;
}



/*Секція 1*/

.sectionone { /*18*/
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.uppermain { /*19*/
    text-align: center;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: auto;
    max-width: 496px;
    margin-bottom: 48px;
}


.orderservice { /*20*/
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;

    margin: auto;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.orderservice:hover { /*21*/
    background-color: #404bbf;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
}

.orderservice:focus { /*22*/
    background-color: #404bbf;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
}

.sectionone .container { /*23*/
    flex-direction: column;
}



/*Секція 2. Статті*/
.sectiontwo { /*24*/
    padding: 120px 0;
}

.visuallyhidden { /*25*/
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.sectiontwoul { /*26*/
    display: flex;
    gap: 24px;
}

.sectiontwoli { /*27*/
    width: calc((100% - 72px) / 4);
}

.content { /*28*/
    color: #ffffff;
}

.sectiontwoh { /*29*/
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.sectiontwop { /*30*/
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.icon { /*31*/
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Секція 3. Наша команда. Фото команди*/

.frame { /*32*/
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    max-width: 264px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.sectionthree { /*33*/
    padding: 120px 0;
    background-color: #F4F4FD;
}

.ourteam { /*34*/
    display: flex;
    gap: 24px;
    justify-content: center;
}

.headerourteam { /*35*/
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #F4F4FD;
    font-weight: 700;
    text-align: center;
    margin-bottom: 72px;
}

.ourteam h3 { /*36*/
    text-align: center;
}

.ourteam p { /*37*/
    text-align: center;
}

.ourteamtext { /*38*/
    padding: 32px 0;
}

.sectionthreeh { /*39*/
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.sectionthreep { /*40*/
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;

}

.sectionthreeicons { /*41*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.sectionthreeicons li { /*42*/
    width: 40px;
    height: 40px;
    margin-top: 8px;
}

.ellipse { /*43*/
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    z-index: 1;
}

.mesedjerlink { /*44*/
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mesedjerlink:hover { /*45*/
    background-color: #404bbf;
}

.mesedjerlink:focus { /*46*/
    background-color: #404bbf;
}

.iconmesedgers { /*47*/
    fill: #f4f4fd;
}


/* Секція №4 */

.sectionfour { /*48*/
    padding-top: 120px;
    padding-bottom: 120px;
}

.ourportfolio { /*49*/
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 72px;
}

.sectionfourul { /*50*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;

}

.sectionfourli:hover { /*51*/
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sectionfourdiv { /*52*/
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.sectionfourh { /*53*/
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


/*Анімація зміни картинки на параграф*/
/*Налаштування позиціонування для параграфу під картинкою*/
.sectionfourli { /*54*/
    /*div*/
    width: calc((100% - 48px) / 3);
    max-width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.imageapp { /*55*/
    /*Картинка*/
    position: relative;
    overflow: hidden;
}

.hovertext { /*56*/
    /*overlay*/
    /*Параграф*/
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.sectionfourli:hover .hovertext { /*57*/
    /*Виїзджання параграфу на картинку*/
    transform: translateY(0%);
}



/* Footer */

.footer { /*58*/
    background-color: #2e2f42;
    padding: 100px 0;
    display: flex;
    align-items: baseline;
}

.footertext { /*59*/
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.logofooter { /*60*/
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3%;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    display: inline-block;
}

.inlineblock { /*61*/
    display: inline-block;
}

.logofooter .studio { /*62*/
    color: #f4f4fd;
}

.futterlogotext { /*63*/
    margin-right: 120px;
}



.footer .container { /*64*/
    flex-direction: row;
    display: flex;
    align-items: baseline;
}

.socialmedia { /*65*/
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footericons { /*66*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footermesedjerlink { /*67*/
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 16px;
}

.footermesedjerlink:hover { /*68*/
    background-color: #31d0aa;
}

.footermesedjerlink:focus { /*69*/
    background-color: #31d0aa;
}

.footermesedjerlink:active { /*70*/
    background-color: #31d0aa;
}


.fotterli { /*71*/
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteamtextfooter { /*72*/
    margin-right: 80px;
}

/* Поле вводу і кнопка у футері*/

.form_for_e-mail { /*73*/
    gap: 24px;
    display: flex;
}

.subscribe { /*74*/
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.label_for_e-mail { /*75*/
    display: flex;
    flex-direction: row;
}

.input_for_e-mail { /*76*/
    /*Стилізація поля вводу*/
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: var(--NAVY-BLUE, #2E2F42);
    width: 264px;
    height: 40px;
    /*Стилізація тексту*/
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
    padding-left: 16px;
    line-height: 1.5;
   filter: drop-shadow (0px 4px 4px rgba(0, 0, 0, 0.15));
    /*Розміщення елементів у блоці*/
    background-color: transparent;
}

.input_for_e-mail::placeholder { /*77*/
    /*Стилізація тексту підсказки*/
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    letter-spacing: 0.48px;
    text-align: left;
}

.button_for_e-mail { /*78*/
    border: none;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    /*gap: 16px;*/
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    width: 165px;
    height: 40px;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    min-width: 165px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.icon_footer_svg { /*79*/
    margin-left: 16px;
    fill: #f4f4fd;
}


/*Модальна форма для введення данних*/

.div_for_modal_form { /*80*/
    flex-direction: column;
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div_for_form { /*81*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.close_button { /*82*/
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.close_button:hover { /*83*/
    background-color: #404bbf;
    border: none;
}

.close_button:focus { /*84*/
    background-color: #404bbf;
    border: none;
}

.close_button:hover .close_button_icon { /*85*/
    fill: #ffffff;
}

.close_button:focus .close_button_icon { /*86*/
    fill: #ffffff;
}


.close_button_icon { /*87*/
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close_button_icon:hover { /*88*/
    background-color: #404bbf;
    fill: #ffffff;
}

.close_button_icon:focus { /*89*/
    background-color: #404bbf;
    fill: #ffffff;
}

.div_in_form_for_data { /*90*/
    margin-bottom: 4px;
}

.div_in_form_for_data_form { /*91*/
    margin-bottom: 8px;
}

.div_in_form_for_data_form_coment { /*92*/
    margin-bottom: 16px;
}


.label_for_form_for_data { /*93*/
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}


.div_in_label_in_form { /*94*/
    position: relative;
}

.div_in_label_in_form:focus { /*95*/
    fill: #4D5AE5;
}

.input_for_form_for_data { /*96*/
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input_for_form_for_data:focus+.svg_for_form_for_data { /*97*/
    fill: #4D5AE5;
}


.input_for_form_for_data:focus { /*98*/
    border-color: #4D5AE5;
}

.svg_for_form_for_data { /*99*/
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2a2a2a;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.div_for_input_text_area { /*100*/
    margin-bottom: 16px;
}


.textarea_for_form_for_data { /*101*/
    width: 100%;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    height: 120px;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.textarea_for_form_for_data:focus { /*102*/
    border-color: #4D5AE5;
}

.title_for_modal { /*103*/
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-top: 0px;
    margin-bottom: 16px;
}

.a_policy { /*104*/
    color: var(--IRIS, #4D5AE5);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-decoration-line: underline;
}

.chak { /*105*/
    width: 16px;
    height: 16px;
}

/*Пятий елемент. Чекбокс.*/

.p_policy { /*106*/
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 116.667% */
    letter-spacing: 0.48px;
    margin-bottom: 24px;
}

.visually-hidden { /*107*/
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}



.label_for_text_area { /*108*/
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span_for_text_area { /*109*/
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
}



.visually-hidden:checked+.label_for_text_area>.span_for_text_area { /*110*/
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.button_send { /*111*/
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
    margin-top: 24px;
}

/*Стилі для меню гамбургера*/

.modal_form_for_menu_hamburher { /*112*/
    visibility: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-width: 320px;

}


/*Стилі для мобільної версії*/



@media (max-width: 768px) {

    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px 0px 15px;
        align-items: center;
    }


    /*Навігація.  Лого-посилання*/

    .addresstabl {
        margin: 24px 0px 24px 0px;
    }

    .navtabl {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
    }

    /*Стилі для модального вікна*/


    .headerblockcontainernav_for_modal_window {
        margin-bottom: 168px;
        margin-top: 24px;
        min-width: 320px;
        }

    .nav_tabl_for_modal_window {
        display: flex;
        flex-direction: column;

        gap: 40px;
        margin-left: 16px;
    }

    .address_for_modal_window {
        visibility: visible;
        margin-bottom: 48px;
        align-items: center;
        min-width: 320px;
    }

    .addresstabl {
        display: flex;
        flex-direction: column;
    }

    .navone_for_modal_window {
        color: var(--OCEAN, #404BBF);
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .nav_for_modal_window {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .email_for_modal_window {
        color: var(--IRIS, #4D5AE5);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;

        margin-left: 16px;
    }

        .tel_for_modal_window {
            color: var(--SLATE, #434455);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.4px;
            margin-left: 16px;
        }

        .footericons_for_modal_window {
            display: flex;
            flex-direction: row;
            gap: 40px;
            margin-left: 16px;
            min-width: 320px;
        }

        .freame_modal_form_for_menu_hamburher {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-left: 5%;
            padding-right: 5%;
            min-width: 320px;
        }

        .close_button_for_modal_form {
            width: 24px;
            height: 24px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--CORNFLOWER, #E7E9FC);
            align-self: flex-end;
            border-radius: 50%;
            margin-top: 24px;
        }



    /**/

    .logoheader {
        margin-left: 16px;
        margin-top: 17.5px;
        margin-bottom: 17.5px;
    }

    /*Імейл та телефон*/

    .address {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
    }

    .headerblock .container {
        width: 100%;
    }

    .addresstabl {
        display: flex;
        gap: 40px;
    }

        .three_line {
            visibility: visible;
        }


    /*Секція 1*/

    .sectionone {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/images_for_mobile/backgroundx1.jpg');
        background-size: cover;
    }

    @media (min-resolution: 192dpi) {
        .sectionone {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/images_for_mobile/backgrounf@2x.jpg');
        }
    }

    .sectionone .container {
        flex-direction: column;
    }



    /*Секція 2. Статті*/
    .sectiontwo {
        padding: 96px 0;
    }

    .sectiontwoul {
        gap: 72px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .sectiontwoli {
        width: calc((100% - 216px) / 4);
        align-items: center;
        width: 100%;
    }

    .sectiontwoh {
        align-self: stretch;
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .sectiontwop {
        align-self: stretch;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    .icon {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
    }



    /*Секція 3. Наша команда. Фото команди*/

    .frame {
        width: 100%;
    }

    .sectionthree {
        padding: 96px 0;
        min-width: 320px;
    }

    .ourteam {
        flex-direction: column;
        align-items: center;
    }

    .headerourteam {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .ourteamtext {
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .sectionthreeh {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.4px;
    }

    .sectionthreep {
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    /* Секція №4 */

    .ourportfolio {
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin: auto;
        margin-bottom: 72px;
    }

    .sectionfourul {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        column-gap: 48px;
    }

    .sectionfourh {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.4px;
    }


    /*Анімація зміни картинки на параграф*/
    /*Налаштування позиціонування для параграфу під картинкою*/
    .sectionfourli {
        /*div*/
        width: 100%;
        margin: 0 auto;
        border: 1px solid var(--CLOUD, #F4F4FD);
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        column-gap: 32px;
    }

    /* Footer */

    .footer {
        min-width: 320px;
    }

    .footertext {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-align: justify;
        margin-bottom: 72px;
    }

    .logofooter {
        font-style: normal;
        line-height: 21px;
        letter-spacing: 0.54px;
        margin-bottom: 17.5px;
    }

    .logofooter .studio {
        color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
    }

    .futterlogotext {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 17.5px;
    }

    .footer .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .footericons {
        gap: 40px;
        margin-bottom: 80px;
    }

    .ourteamtextfooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    /* Поле вводу і кнопка у футері*/

    .form_for_e-mail {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .label_for_e-mail {
        margin-bottom: 16px;
        border-radius: 4px;
        border: 1px solid var(--WHITE, #FFF);
        opacity: 0.3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .input_for_e-mail {
        opacity: 0.6;
    }



/*Стилі для модального вікна*/

.div_for_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 90%;
    height: 98vh;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}


/*Стилі для меню гамбургера*/

.modal_form_for_menu_hamburher {
    visibility: visible;
    background-color: white;
}


}



/*Стилі для планшета*/

@media (min-width: 768px) and (max-width: 1158px) {

    .container {
        width: 769px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 15px 0px 15px;
        align-items: center;
    }

    /*Навігація.  Лого-посилання*/

    .headerblock .container {
        width: 100%;
    }

    .logoheader {
        margin-right: 120px;
        margin-left: 16px;
        margin-top: 25.5px;
        margin-bottom: 25.5px;
    }

    .spon {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
    }

    /*Підкреслення в меню навігації*/


    .navone {
        color: var(--OCEAN, #404BBF);
        font-family: Roboto;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.32px;
        padding: 24px 0;
    }

    /*Імейл та телефон*/

    .email {
        color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
    }

    .headerblock {
        max-width: 1158px;
    }

    .headerblock .container {
        width: 100%;
        justify-content: center;
    }

    .headerblockcontainernav {
        margin-right: 121px;
    }

    .addresstabl {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    /*Секція 1*/

    .sectionone {
        min-width: 769px;
        max-width: 1158px;

        .sectionone {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/images_for_tablet/backgroundx1.jpg');
                background-size: cover;
            }
        
            @media (min-resolution: 192dpi) {
                .sectionone {
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/images_for_tablet/backgrounf@2x.jpg');
                }
            }
    }

    .textheader {
        width: 100%;
    }

    .sectionone .container {
        flex-direction: column;
    }



    /*Секція 2. Статті*/
    .sectiontwo {
        padding: 96px 0;
    }

    .sectiontwoul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sectiontwoli {
        flex-basis: calc((100% - 24px) / 2);
    }

    .sectiontwoh {
        align-self: stretch;
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: left;
    }

    .sectiontwop {
        align-self: stretch;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    .icon {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
    }



    /*Секція 3. Наша команда. Фото команди*/

    .frame {
        width: 100%;
        flex-basis: calc((100% - 24px) / 2);
    }

    .sectionthree {
        padding: 96px 0;
        min-width: 320px;
    }

    .ourteam {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .headerourteam {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .ourteamtext {
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .sectionthreeh {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-style: normal;
        line-height: 24px;
        letter-spacing: 0.4px;
    }

    .sectionthreep {
        text-align: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    /* Секція №4 */

    .ourportfolio {
        line-height: 1.11;
        letter-spacing: 0.02em;
        margin: auto;
        margin-bottom: 72px;
    }

    .sectionfourul {
        margin: 0 auto;
        width: 100%;
        flex-direction: row;
        gap: 24px;
    }

    .sectionfourh {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
    }


    /*Анімація зміни картинки на параграф*/
    /*Налаштування позиціонування для параграфу під картинкою*/
    .sectionfourli {
        /*div*/
        width: 100%;
        margin: 0 auto;
        border: 1px solid var(--CLOUD, #F4F4FD);
        background: var(--WHITE, #FFF);
        box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        column-gap: 32px;
        flex-basis: calc((100% - 24px) / 2);
    }

    /* Footer */

    .footer {
        min-width: 320px;
    }

    .footertext {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        text-align: justify;
        margin-bottom: 72px;
    }

    .logofooter {
        font-style: normal;
        line-height: 21px;
        letter-spacing: 0.54px;
        margin-bottom: 17.5px;
    }

    .logofooter .studio {
        color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
    }

    .futterlogotext {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 17.5px;
        margin-right: 0px;
    }

    .footer .container {
        flex-wrap: wrap;
        gap: 24px;
        margin-right: 0;
    }

    /* Поле вводу і кнопка у футері*/

    .form_for_e-mail {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .subscribe {
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    .label_for_e-mail {
        border-radius: 4px;
        border: 1px solid var(--WHITE, #FFF);
        opacity: 0.3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    }

    .input_for_e-mail {
        opacity: 0.6;
    }

        /*Стилі для меню гамбургера*/
    
        .modal_form_for_menu_hamburher {
            visibility: hidden;
        }

        /*  */

}